.heading {
    width: 360px;
    height: 60px;
    margin: auto;             /* Center horizontally with a top margin */
    padding-top: 5px;             /* Adjust padding to vertically center content */
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;            /* Center text inside the div */
    background-color: white;
    color: black;                  /* Set text color to black */
   /* border: 2px solid red;         /* Red border */
    display: flex;                 /* Flexbox to align image and text */
    align-items: center;           /* Center image and text vertically */
    justify-content: center;       /* Center content horizontally */
    gap: 10px;                     /* Space between logo and text */
}
